*{
    padding:0;
    margin:0;
    background-color: black;
}

#cursor {
    width:20px;
    height:20px;
    background-color: white;
    border-radius: 50%;
}

body {
    width:100vw;
    height:100vh;
}
